html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #191919;
}

#main-img.desktop {
  height: 99vh;
}

#main-img.mobile {
  width: 100%;
}

@media screen and (max-width: 720px) {
   /* 모바일 */
   img {
    content: url("/images/main-mobile.png");
   }
}

@media screen and (min-width : 720px) {
  img{
    content : url("/images/main-desktop.png")
  }
}